.audio-player-sender::-webkit-media-controls-panel {
    background-color: #E5E7EB!important;
  }

  .audio-player-reciever::-webkit-media-controls-panel {
    background-color: #FFFFFF!important;
  }
  .audio-playback::-webkit-media-controls-panel {
    background-color: #FFFFFF!important;
  }